@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
body{
    margin:o;
    padding:0;
    overflow: hidden;
    background-color: #000;
    text-align: center;
    color: transparent;
    backface-visibility: hidden;
    font:5vw/100vh 'Finger Paint';
}

span{
    display: inline-block;
    text-shadow: 0 0 0 goldenrod;
    animation: smoky 5s 3s both;
}

span:nth-child(even){
    animation-name:smoky-mirror;
}

@keyframes smoky{
    60%{
        text-shadow: 0 0 40px  goldenrod;
    }

    to{
        transform: translate(15rem,-8rem,0)
                    rotate(-40deg)
                    skewX(-70deg)
                    scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity:0;
    }
}

@keyframes smoky-mirror{
    60%{
        text-shadow: 0 0 40px goldenrod;
    }

    to{
        transform: translate3d(18rem, -8rem,0)
            rotate(-40deg)
            skewX(-70deg)
            scale(2);
            text-shadow: 0 0 20px goldenrod;
        opacity: 0;
    }
}