
body {
    background: black; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#loader {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(45% - 20px);
  }
  @keyframes loader {
    0% { left: -100px }
    100% { left: 110%; }
  }

  #box1 {
    width: 50px;
    height: 50px;
    background: goldenrod;
    animation: animate 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 100px;
    border-radius: 3px;
  }

  #box2 {
    width: 50px;
    height: 50px;
    background: goldenrod;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 3px;
  }

  #box3 {
    width: 50px;
    height: 50px;
    background: goldenrod;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 200px;
    border-radius: 3px;
  }



  @keyframes animate {
    17% { border-bottom-right-radius: 4px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
      transform: translateY(18px) scale(1,.9) rotate(45deg) ;
      border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
  } 

  #shadow1 { 
    width: 50px;
    height: 5px;
    background: goldenrod;
    opacity: 0.1;
    position: absolute;
    top: 60px;
    left: 100px;
    border-radius: 50%;
    animation: shadow 0.7s linear infinite;
  }

  #shadow2 { 
    width: 50px;
    height: 5px;
    background: goldenrod;
    opacity: 0.1;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.7s linear infinite;
  }

  #shadow3 { 
    width: 50px;
    height: 5px;
    background: goldenrod;
    opacity: 0.1;
    position: absolute;
    top: 60px;
    left: 200px;
    border-radius: 50%;
    animation: shadow 0.7s linear infinite;
  }


  @keyframes shadow {
    50% {
      transform: scale(1.2,1);
    }
  }
  
  
  h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: .4;
    font-family: sans-serif;
    color: goldenrod;
  }