body{
    background:black;
    align-items: center;
    margin: 0;
    justify-content: center;
    display: flex;
    height: 100%;
    padding: 0;
}

.pulse{
    margin-top: 30vh;
    height: 200px;
    width: 200px;
    background: goldenrod;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    animation: pulse 3.0s linear infinite;

}


@keyframes pulse{

    0%{
        box-shadow: 0 0 0 0 rgba(218,165,32, 1);
    }
    
    25%{
            box-shadow: 0 0 0 0 rgba(218,165,32, 1);
    
    }

    50%{
        box-shadow: 0 0 0 0 rgba(218,165,32, 0.5);
    }
    
    100%{
        box-shadow: 0 0 0 100px rgba(218,165,32,0);
    }
}